/*Header Styling*/
header {
    background-color: #95a1ae;
    position: sticky;
    top: 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
header nav ul a li {
    list-style-type: none;
    padding: 30px 15px;
    font-family: 'Poppins', sans-serif;
}
header nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #EF8B6E;
}
header nav ul a {
    color: white;
    text-decoration: none;
}
/*Main styling*/
main {
    width: 85%;
    margin: 20px auto;
}
section {
    float: left;
}
section.table {
    width: 60%;
    margin-right: 5%;
}
section.form {
    width: 35%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table tr th {
    background-color: #EF8B6E;
    text-align: left;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #EF8B6E;

}
table tr td {
    background-color: #F3F3F3;
    padding: 10px;
    border: 2px solid #95a1ae;
    border-top: none;
}

form input, form textarea, form select{
    width: 94%;
    border: 2px solid #95a1ae;
    margin-bottom: 5px;
    padding: 4px 8px;
    font-size: 16px;
}
form textarea {
    height: 150px;
}
form input[type=submit] {
    border: none;
    background-color: #EF8B6E;
    width: 50%;
    float: right;
    padding: 8px 12px;
    margin-top: 10px;
}
form input[type=submit]:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hiddenForm {
    background-color: #95a1ae;
    width: fit-content;
    padding: 30px 50px;
    position: fixed;
    width: 50vw;
    left: 22%;
    color: white;
}
.hiddenForm form {
    width: 100%;
    padding-bottom: 55px;
}
.hiddenForm input {
    width: 100%;
}
.hiddenForm i {
    font-size: 24px;
    float: right;
}
.hiddenForm i:hover {
    cursor: pointer;
    color: #D7D5D3
}
.hiddenForm h2 {
    margin: 0;
    margin-bottom: 10px;
}
.hiddenForm form label {
    font-size: 20px;
}
.hiddenForm form input[type=submit] {
    width: 40%;
    float: right;
    margin-top: 10px;
    background-color: #EF8B6E;
    border: none;
    color: white;
}
.hiddenForm form input[type=submit]:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #546979;
}

.editButton, .deleteButton, .addButton {
    font-size: 17px;
    padding: 8px 12px;
    width: 15%;
    border: none;
}
.editButton {
    background-color: #95a1ae;
}
.deleteButton, .addButton {
    background-color: #EF8B6E;
    float: right;
}
.editButton:hover, .deleteButton:hover, .addButton:hover {
    text-decoration: underline;
    cursor: pointer;
}
/*Gallery Page Styling*/
.images {
    display: flex;
    flex-wrap: wrap;
    
}
.images img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
}