/*Header Styling*/
header {
    background-color: #3C96C4;
    color: white;
    width: 13vw;
    height: 100vh;
    min-width: 125px;
    float: left;
    position: fixed;
}
header nav ul {
    margin-top: 20px;
}
header nav ul li {
    padding: 15px 0;
    text-align: center;
    font-size: 1.1em;
}
header nav ul li:hover {
    background-color: #30789D;
}
header nav ul a.dropdown-item {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

/*Main styling*/
main {
    float: right;
    width: 80vw;
    margin: 20px 3.5vw;
}
section {
    float: left;
    width: 100%;
}
aside {
    float: right;
}
section.table {
    width: 63%;
    margin-right: 4%;
}
section.form {
    width: 30%;
    background-color: #3C96C4;
    padding: 1%;
    margin-top: 30px;
}
table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}
table tr th {
    background-color: #3C96C4;
    text-align: left;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #3C96C4;
}
table tr td {
    background-color: #F3F3F3;
    padding: 10px;
    border: 2px solid #95a1ae;
    border-top: none;
}
table tr td i {
    margin: 5px;
    font-size: 18px;
}
.halfTable {
    width: 47%;
    float: left;
    margin-right: 3%;
}
form input, form textarea, form select{
    width: 94%;
    border: 2px solid #3C96C4;
    margin-bottom: 5px;
    padding: 4px 8px;
    font-size: 16px;
}
form textarea {
    height: 150px;
    font-family: 'Poppins', sans-serif;
}
form input[type=submit] {
    border: none;
    background-color: #D2691E;
    width: 50%;
    float: right;
    padding: 8px 12px;
    margin-top: 10px;
}
form input[type=submit]:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hiddenForm {
    background-color: #3C96C4;
    width: fit-content;
    padding: 30px 50px;
    position: fixed;
    width: 50vw;
    left: 22%;
    color: white;
}
.hiddenForm form {
    width: 100%;
    padding-bottom: 55px;
}
.hiddenForm input {
    width: 100%;
}
.hiddenForm i {
    font-size: 24px;
    float: right;
}
.hiddenForm i:hover {
    cursor: pointer;
    color: #D7D5D3
}
.hiddenForm h2 {
    margin: 0;
    margin-bottom: 10px;
}
.hiddenForm form label {
    font-size: 20px;
}
.hiddenForm form input[type=submit] {
    width: 40%;
    float: right;
    margin-top: 10px;
    background-color: #D2691E;
    border: none;
    color: white;
}
.hiddenForm form input[type=submit]:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #546979;
}

.fullPageForm {
    width: 90%;
    margin-left: 5%;
}
.fullPageForm input, .fullPageForm textarea {
    width: 97%;
}
.fullPageForm #content {
    height: 250px;
}
.fullPageForm #details {
    height: 60vh;
}
.fullPageForm input[type=submit] {
    width: 30%;
    margin-bottom: 30px;
}

.editButton, .deleteButton, .addButton {
    font-size: 17px;
    padding: 8px 12px;
    width: 15%;
    border: none;
    background-color: #D2691E;
}
.deleteButton, .addButton {  
    float: right;
}
.editButton:hover, .deleteButton:hover, .addButton:hover {
    text-decoration: underline;
    cursor: pointer;
}
/*Gallery Page Styling*/
.images {
    display: flex;
    flex-wrap: wrap;
}
.images img {
    width: 175px;
    height: 175px;
    margin: 10px;
    object-fit: cover;
}
/*Brands page styling*/
section.details {
    width: 65%;
}
.details textarea {
    border: none;
    width: 100%;
    height: 350px;
}
aside.image, aside.draft {
    width: 30%;
    background-color: #3C96C4;
    margin-bottom: 30px;
}
aside.image h2, aside.draft h2 {
    margin: 10px 12px;
}
aside.image img {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
}
aside.image button, aside.draft input[type=submit] {
    background-color: #D2691E;
    width: 80%;
    margin-left: 10%;
    border: none;
    font-size: 17px;
    padding: 8px 12px;
    margin-bottom: 10px;
}
aside.draft input[type=submit] {
    margin: 10px 10%;
    margin-bottom: 15px;
}
aside.image form {
    width: 80%;
    margin-left: 10%;
    padding-bottom:55px;
    margin-bottom: 20px;
}
aside.image form input {
    width: 100%;
}
section.buttons {
    width: 100%;
    margin: 20px 0;
}
.backButton {
    font-size: 17px;
    margin-bottom: 10px;
    width: 100%;
}
form.studyGallery input[type=checkbox], form.articleTags input[type=checkbox] {
    width: auto;
}
.tagContainer {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}
.tag {
    display: inline-flex;
    padding: 3px 6px;
    margin-bottom: 8px;
    background-color: #D2691E;
    border-radius: 8px;
    margin-right: 4px;
}
.tag p {
    margin: 0;
}
.tag i {
    margin-top: 5px;
    margin-left: 10px; 
}
.gallery {
    height: 300px;
    overflow: auto;
    margin-bottom: 20px;
    margin-right: 10px;
}

/*
*Enquiry index styling
*/
.enquiries table tr.hidden {
    display: none; 
}
.enquiries table tr.hidden.open {
    display: table-row;
}
.enquiries table tr.hidden td {
    background-color: white;
}
.enquiries table .fa-solid.fa-chevron-down.animate {
    transform: rotate(180deg);
}

/*
* Tag table styling
*/
.tagTable tr.hidden {
    display: none;
}
.tagTable tr.hidden.open {
    display: table-row;
}
.tagTable tr td form input {
    width: 60%;
}
.tagTable tr td form input[type=submit] {
    width: 30%;
    margin: 0;
    padding: 2px;
    float: right;
}