textarea:focus-visible {
    outline: none;
}
main {
    width: 75%;
    min-height: 54vh;
    margin: 40px auto;
}
.breadcrumbs {
    font-size: 13px;
    margin-bottom: 20px;
}
/*Home Page Styling*/
.home section {
    padding: 50px 0;
}

.homeBrands {
    width: 85%;
    margin-left: 7.5%;
    display: flex;
    flex-wrap: wrap;
}
.homeBrands img {
    width: 55%;
    height: 45vh;
    min-height: 250px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 15px 15px #4E579C;
}
.homeBrands div {
    width: 40%;
    margin-left: 5%;
    margin-top: 20px;
}
.homeBrands div p {
    margin-top: 0;
}
.homeBrands div ul {
    padding-left: 10%;
}
.homeBrands div ul li {
    list-style-type: disc;
    font-size: 1.2em;
}
.home .news article{
    display: flex;
    flex-wrap: wrap;
}
.home .news article div  {
    width: 30%;
    height: 30vh;
    margin: 1% 1.5%;
    text-align: center;
}
.home .news article div:hover img {
    opacity: 0.8;
    cursor: pointer;
}
.home .news article div:nth-child(1) {
    width: 99%;
}
.home .news article div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}
.home .news article div section {
    width: 100%;
    height: 50%;
    position: relative;
    padding-top: 11vh;
    top: -31vh;
}
.home .twitter {
    width: 70%;
    margin-left: 15%;
}
/*Brand Page Styling*/
.tab {
    overflow: hidden;
    background-color: #4E579C;   
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
}
.tab button:hover {
    background-color: #6972B4;
}
.tab button.active {
    background-color: #6972B4;
}
.tabcontent {
    display: none;
    padding: 12px 18px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
}
.brand {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brand div {
    width: 70%;
}
.brand img {
    width: 25%;
    height: max-content;
    margin-top: 60px;
}
.line {
    border: 1px solid #4E579C;
    margin-top: 40px;
    width: 80%;
}
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    flex-direction: row-reverse;
}
.product div {
    width: 65%;
}
.product img {
    width: 30%;
}
.product .price{
    text-align: right;
}
.product .price span {
    font-weight: bold;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*
* Case Study index and show styling
*/
.studies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.studies div{
    width: 28%;
    margin: 1%;
    text-align: center;
}
.studies div img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.studies div h3 {
    background-color: #4E579C;
    color: white;
    position: relative;
    top: -7px;
    height: 50px;
    padding: 15px 10px;
}

.featuredImage, .articleImage {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 40px;
}
.studyContent, .articleContent {
    width: 100%;
    text-align: justify;
    border: none;
    margin-bottom: 45px;
}
.testimony {
    background-color: #4E579C;
    width: 74%;
    color: white;
    margin-left: 10%;
    padding: 10px 3%;
    border-radius: 10px;
    text-align: justify;
}
.testimony h3 {
    text-align: right;
}

.gallery {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery img {
    width: 47%;
    margin: 1%;
    max-height: 300px;
    object-fit: cover;
}

/*
* Blog index page styling
*/
.blog article {
    display: flex;
    width: 90%;
    margin-left: 5%;
    border-top: 2px solid #4E579C;
    padding-top: 20px;
    margin-bottom: 20px;
}
.blog article img {
    width: 55%;
    object-fit: cover;
    max-height: 275px;
    height: auto;
}
.blog article div {
    margin: 2%; 
    width: 40%; 
    text-align: right;
}
.blog article div h2 {
    margin-bottom: 0;
}
.tagContainer, .articleTagContainer {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: right;
    flex-wrap: wrap;
}
.articleTagContainer {
    justify-content: left;
    margin-bottom: 20px;
}
.tagContainer p, .articleTagContainer p {
    padding: 6px 10px;
    background-color: #4E579C;
    color: white;
    margin: 4px;
    border-radius: 4px;
    font-size: 0.9em;
}
.blog article:nth-child(1)  {
    border: none;
}
.blog article:nth-child(even) {
    flex-direction: row-reverse;
}
.blog article:nth-child(even) div {
    text-align: left;
}
.blog article:nth-child(even) .tagContainer {
    justify-content: left;
}

/*
* blog dipslay page styling
*/
.articleContent {
    display: flex;
}
.article {
    width: 70%;
}
.otherArticles {
    width: 25%;
    margin-left: 5%;
    margin-top: 100px;
}
.otherArticles div {
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.otherArticles div img {
    height: 125px;
    width: 100%;
    object-fit: cover;
}
.otherArticles div h3 {
    margin-bottom: 10px;
}

/*
*Contact Page styling
*/
.contact {
    display: flex;
    flex-wrap: wrap;
}
.contact article {
    width: 45%;
}
.contact article div {
    margin: 2%;
}
.contact article div ul li {
    font-size: 1.1em;
}
.contact aside {
    width: 55%;
}
.contact aside form label {
    width: 100%;
    font-size: 1em;
}
.contact aside form input, .contact aside form textarea {
    width: 100%;
    border: 1px solid #4E579C;
    font-size: 1em;
    margin-top: 5px;
}
.contact aside form textarea {
    height: 200px;
}
.contact aside form input[type=submit] {
    background-color: #4E579C;
    color: white;
    width: 30%;
    float: right;
    padding: 8px 10px;
    font-size: 1em;
    border-radius: 3px;
}
.contact aside form input[type=submit]:hover {
    text-decoration: underline;
    background-color: #6972B4;
    border: 1px solid #6972B4;
    cursor: pointer;
}
.messageSent {
    background-color: #4E579C;
    color: white;
    text-align: center;
    padding: 15px 2px;
    border-radius: 3px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 860px) {
    .contact article {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contact aside {
        width: 100%;
    }
}